.category-info[b-giznkwdeo8] {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.category-info h5[b-giznkwdeo8] {
    font-size: 18px;
    margin-top: 15px;
    color: black;
}

.category-info p[b-giznkwdeo8] {
    margin-left: 15px;
    margin-bottom: 10px;
    color: #555;
    line-height: 1.5;
}
