.navbar-toggler[b-7dzh7gyh8m] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7dzh7gyh8m] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7dzh7gyh8m] {
    font-size: 1.1rem;
}

.nav-item .nav-link[b-7dzh7gyh8m] {
    color: #ffffff; 
}

.nav-item .nav-link:hover[b-7dzh7gyh8m] {
    color: #ffffff;
}

.nav-item .nav-link.active[b-7dzh7gyh8m] {
    background-color:white;
    color: black; 
}




.bi[b-7dzh7gyh8m] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.nav-item[b-7dzh7gyh8m] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-7dzh7gyh8m] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-7dzh7gyh8m] {
    padding-bottom: 1rem;
}

.nav-item a[b-7dzh7gyh8m] {
    color: white; 
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding: 0.5rem 1rem; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-item a.active[b-7dzh7gyh8m] {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item a:hover[b-7dzh7gyh8m] {
    background-color: white;
    color: black;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7dzh7gyh8m] {
        display: none;
    }

    .collapse[b-7dzh7gyh8m] {
        
        display: block;
    }
    
    .nav-scrollable[b-7dzh7gyh8m] {
       
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
