<link href="apiconsumer.razor.css" rel="stylesheet" />
<div>
    <h4>Descripcion de la API de la tienda en linea</h4>
    <p>La API de la tienda en linea permite a los desarrolladores integrar productos de diferentes categorias</p>

    <div class="category-info">
        <h5>Men's Clothing</h5>
        <p>Encuentra una amplia variedad de ropa para hombres desde camisetas y jeans hasta chaquetas </p>

        <h5>Jewelery</h5>
        <p>Explora nuestra coleccion de joyeria fina y accesorios ofrecemos una variedad de anillos, collares, pulseras y aretes hechos con materiales de alta calidad y diseños unicos</p>

        <h5>Electronics</h5>
        <p>Descubre lo ultimo en tecnologia con nuestra seleccion de productos electronicos tenemos desde telefonos inteligentes y laptops y dispositivos inteligentes para el hogar</p>

        <h5>Women's Clothing</h5>
        <p>Actualiza tu guardarropa con nuestra coleccion de ropa para mujeres ofrecemos una gama de prendas elegantes y comodas, incluyendo vestidos, blusas, faldas y mas</p>
    </div>
</div>